#bodyAdicionar {
  width: auto;
  height: auto;
}

#formAdicionar {
  padding: 10px;
  margin-left: 6%;
  width: 1200px;
  height: 220px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 14%;
  border-radius: 30px;
  background:#2D4A53;
  color: #AFB3B7;
}

#nomeDoLivroAdicionar,
#nomeDoAutorAdicionar,
#quantidadeDoLivro {
  width: 400px;
  margin-top: 1%;
  height: 40px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}


#butaoAdicionar {
  font-weight: 700;
  font-size: 15px;
  height: 40px;
  width: 140px;
  margin: auto;
  margin-top: 10px;
  border: solid 2px black;
  border-radius: 10px;
  background:#2D4A53 ;
  color: #AFB3B7;
}

#butaoAdicionar:hover {
  transition: ease-in-out, 1s;
  cursor: pointer;
  background: #132E35;
  color: #AFB3B7;
}


table {
  width: 70%;
  margin: 20px;

}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  font-size: 18px;
}

.th1 {
  width: 200px;
}

.thAutor {
  width: 200px;
}

.thQuantidade {
  width: 1%;
}

.thDisponiveis {
  width: 1%;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

.planinhacontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 6%;
  width: 1200px;
}