#bodyAdm {
    width: auto;
    height: auto;
  }
  #formAdm {
    padding: 10px;
    margin-left: 6%;
    width: 1200px;
    height: 220px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 8%;
    border-radius: 30px;
    background:#2D4A53;
    color: #AFB3B7;
    justify-content: space-between;
  }
  #nomeDaTurmaAdm{
    width: 400px;
    margin-top: 1%;
    height: 40px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
  }
  #butaoRemover {
    font-weight: 700;
    font-size: 15px;
    height: 40px;
    width: 180px;
    margin: auto;
    margin-top: 10px;
    border: solid 2px black;
    border-radius: 10px;
    background:#2D4A53 ;
    color: #AFB3B7;
  }
  #butaoRemover:hover {
    transition: ease-in-out, 1s;
    cursor: pointer;
    background: #132E35;
    color: #AFB3B7;
  }
  #butaoAdm {
    font-weight: 700;
    font-size: 15px;
    height: 40px;
    width: 180px;
    margin: auto;
    margin-top: 30px;
    border: solid 2px black;
    border-radius: 10px;
    background:#2D4A53 ;
    color: #AFB3B7;
  }
  #butaoAdm:hover {
    transition: ease-in-out, 1s;
    cursor: pointer;
    background: #132E35;
    color: #AFB3B7;
  }
  table {
    width: 100%;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 20px;
  }
  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
    font-size: 18px;
  }
  .th1 {
    width: 200px;
  }
  .thAutor {
    width: 200px;
  }
  .thQuantidade {
    width: 1%;
  }
  .thDisponiveis {
    width: 1%;
  }
  th {
    background-color: #f2f2f2;
    position: sticky;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: #ddd;
  }
  .planinhacontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6%;
    width: 1200px;
    border-collapse: separate;
    border-spacing: 0px;
    min-width: max-content;
  }
  .AdmScrollBar {
    max-height: 213px;
    overflow-y: scroll;
    margin: 20px;
    padding-right: 10px;
    width: 850px;
    
  }
  .AdmScrollBar::-webkit-scrollbar {
    width: 7px;
    background: #1D3A43;
    
  }
  .AdmScrollBar::-webkit-scrollbar-thumb {
    width: 7px;
    background: #5A636A;
  }

  
  
  
  
  
  
  