table{
    margin: auto;
    margin-top: 140px;
    border-radius: 30px;
    overflow: hidden;
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  font-size: 18px;
  background: #f2f2f2;
}
button{
    margin-left: 25px;
}

button img{
    width: 50px;
    height: 50px;
}

.navDevolucao {
    margin-left: 665px;
  }