
#mainEmprestimo{
    display: flex;
  }
  
  #formEmprestimo{
    border-radius: 30px;
    margin: auto;
    margin-top: 8%;
    display: flex;
    height: 500px;
    width: 450px;
    background:#2D4A53;
    flex-direction: column;
    border: solid 1px black;
  }
  
  .inputFormEmprestimo{
    margin: auto;
    margin-top: 10px;
    width: 300px ;
    height: 30px;
    border-radius: 10px;
  }
  
  .listaNome,
  .listaLivro {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    cursor: pointer;
    z-index: 2;
    width: 290px;
    margin-left: 80px;
    margin-top: 10px;
    background: white;
    border-radius: 20px;
    text-align: center;
  }
  
  .lista-resultadosNome li,
  .lista-resultadosLivro li{
    cursor: pointer; 
    padding: 5px; 
    z-index: 2;
  }
  
  #labelEmprestimo{
    margin-top: 10px;
    margin-left: 16%;
    text-align: left;
    font-weight: 700; 
    font-size: 20px;
    color: #AFB3B7;
  }
  
  #butaoEmprestimo{
    font-weight: 700; 
    font-size: 15px;
    height: 40px;
    width: 140px;
    margin: auto;
    margin-bottom:10px;
    border: solid 2px black;
    border-radius: 10px;
    background:#2D4A53;
    color: #AFB3B7;
    z-index: 2;
  }
  
  #butaoEmprestimo:hover{
    transition: ease-in-out,1s;
    cursor: pointer;
    background: #132E35;
    color: #AFB3B7;
  }

  #mensagemErro {
  color: red;
  font-weight: bold;
  font-size: 16px;
  display: none; 
    
}
  
  
  
  