nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 2;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav li {
  margin-top: 5%;
  margin-right: 20px;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #AFB3B7;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
nav a:hover{
  color: #d3d7dd;
}
nav a::after {
  content: "";
  position: absolute;
  background-color:#d3d7dd;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav a:hover::after{
  width: 100%;
}
.logo {
  margin-left: 30px;
  width: 70px;
  height: 70px;
}
.container {
  text-align: center;
  width: 100%;
  height: 100vh;
}
h2 {
  color: #AFB3B7;
}
p {
  color: #2D4A53;
  width: 250px;
  position: absolute;
  font-weight: 700;
  text-align: justify;
}
.box1,
.box2,
.box3,
.box4 {
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box1{
  background: linear-gradient(270deg, #132E35 20%, #2D4A53 40%, #69818D 60%, #AFB3B7 70%, #5A636A 100%);
}
.box2{
  background: linear-gradient(90deg, #132E35 20%, #2D4A53 40%, #69818D 60%, #AFB3B7 70%, #5A636A 100%);
}
.box3{
  background: linear-gradient(270deg, #132E35 20%, #2D4A53 40%, #69818D 60%, #AFB3B7 70%, #5A636A 100%);
}
.box4{
  background: linear-gradient(90deg, #132E35 20%, #2D4A53 40%, #69818D 60%, #AFB3B7 70%, #5A636A 100%);
}
.box1 h2,
.box2 h2,
.box3 h2,
.box4 h2{ 
  position: absolute;
}
.box1 h2{
  margin-bottom: 21%;
  margin-left: 62%;
}
.box2 h2{
  margin-bottom: 21%;
  margin-right: 62%;
}
.box3 h2{
  margin-bottom: 21%;
  margin-left: 62%;
}
.box4 h2{
  margin-bottom: 21%;
  margin-right: 62%;
}
.box1 p{
  width: 550px;
  margin-top: 3.5%;
  margin-right: 42%;
}
.box2 p{
  width: 550px;
  margin-top: 3.5%;
  margin-left: 42%;
}
.box3 p{
  width: 550px;
  margin-top: 3.5%;
  margin-right: 42%;
}
.box4 p{
  width: 550px;
  margin-top: 3.5%;
  margin-left: 42%;
}
.imagem1,
.imagem2,
.imagem3,
.imagem4 {
  align-items: center;
  border-radius: 20px;
  background: #69818D;
  width: 250px;
  height: 250px;
}
.imagem1 {
  margin-top: 4%;
  margin-left: 62%;
}
.imagem2 {
  margin-top: 4%;
  margin-right: 62%;
}
.imagem3 {
  margin-top: 4%;
  margin-left: 62%;
}
.imagem4 {
  margin-top: 4%;
  margin-right:62%;
}
img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  align-items: center;
  margin: auto;
}
.img1 {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  align-items: center;
  margin: auto;
  margin-top: 9%;
}
.img3 {
  width: 200px;
  height: 200px;
  border-radius: 30%;
  align-items: center;
  margin: auto;
  margin-top: 9%;
}
.buttong {
  position: absolute;
  width: 300px;
  background-color: #69818D;
  color: #fff;
  padding: 10px 20px;
  border: 2px solid #AFB3B7;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}
.buttong:hover {
  transition: ease-in-out 1s;
  background-color: #1D3A43;
  border: 2px solid #69818D;
}

#emprestimo{
  margin-top: 18%;
  margin-right: 42%;
}
#devolver{
  margin-top: 18%;
  margin-left: 42%;
}
#historico{
  margin-top: 18%;
  margin-right: 42%;
}
#adicionar{
  margin-top: 18%;
  margin-left: 42%;
}
.scrollBar::-webkit-scrollbar {
  width: 7px;
  background: #1D3A43;
}
.scrollBar::-webkit-scrollbar-thumb {
  width: 7px;
  background: #5A636A;
}

.textosExplicacao {
  font-size: 22px;
  margin-bottom: 140px;
}