table {
  width: 80%;
  border: 1px solid black;
  overflow: hidden;
  border-radius: 20px;
  margin: auto;
  margin-top: 90px;
}
th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
  font-size: 18px;
}
th {
  background-color: #f2f2f2;
  position: sticky;
}
th:hover {
  background-color: #ddd;
}
.thAluno {
  width: 450px;
}
.thLivro {
  width: 450px;
}
.thDataDeEntrega {
  width: 110px;
}
.atrasado {
  background: red;
}
.emDia {
  background: green;
}

.navHistorico {
  margin-left: 540px;
}

