@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  position: absolute;
  font-family: 'Poppins';
  background-color: #132E35;
}
.cabeca {
  background: #132E35;
  width: 100%;
  height: 78px;
  display: flex;
  position: fixed;
  z-index: 2;
  transition: transform 1s;
}
.cabeca button img{
  border-radius: 50%;
  margin-left: 30px;
  width: 78px;
  height: 78px;
  transition: ease-in-out 0.3s;
}
.cabeca button img:hover{
  border: 2px solid white;
}
.cabeca button{
  background: transparent;
  border: none;
  width: 1px;
  height: 1px;
}
.cabecaGeral img{
  border-radius: 50%;
  margin-left: 36px;
  width: 78px;
  height: 78px;
}

nav {
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 2;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav li {
  margin-top: 5%;
  margin-right: 20px;
}
nav a {
  position: relative;
  text-decoration: none;
  color: #AFB3B7;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 0 10px;
}
nav a:hover{
  color: #d3d7dd;
}
nav a::after {
  content: "";
  position: absolute;
  background-color:#d3d7dd;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}
nav a:hover::after{
  width: 100%;
}



